.App {
  text-align: center;
}
.quote-container {
  width: auto;
  max-width: 50vw;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.quote-text {
  font-size: 1.7rem;
}

.long-quote {
  font-size: 1.4rem;
}

.quote-author {
  margin-top: 15px;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: italic;
}
/* Media query: tablet or Smaller */
@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 10px;
    max-width: 70vw;
  }
  .quote-text {
    font-size: 1.4rem;
  }
}
